<html>
<head>
  <title><%= current_user.username %></title>
  <link rel="stylesheet" type="text/css" href="../../public/css/application.css">
</head>


<body>

  <div>
    <div class="profile-welcome"></div>
      <h1><%= current_user.first_name %></h1>
    <div class="current-balance"></div>

    <div class="new-transactions">
      <h1>New Transaction</h1>
      <form method="POST" action='/transaction'>
        <input type="text" placeholder="To" name="to">
        <input type="text" placeholder="Amount" name="amount">
        <input type="text" placeholder="Description" name="Description">
        <input type="submit" value="Pay" name="pay" id="pay">
        <input type="submit" value="Charge" name="charge" id="charge">
      </form>
    </div>

    <div class="profile-transaction">
      <h3>Here are your recent transactions</h3>
      <ol class="transaction-list">
        <%@user_transactions.each do |transaction|%>
        <li>
          <span class="transaction-information transaction-date"><%= transaction.created_at.strftime("%m-%d-%y") %></span>
          <span class="transaction-information sender_id"><%= transaction.sender_id %></span>
          <span class="transaction-information description"><%= transaction.description %></span>
          <span class="transaction-information status"><%= transaction.status %></span>
          <span class="transaction-information amount"><%= transaction.amount %></span>
        </li>
      <% end %>
      </ol>
    </div>

  </div>
  <script src="../../public/js/profile.js"></script>
</body>
</html>
